.checkout__ad {
  width: 100%;
  max-height: 150px;
  object-fit: contain;

  margin-bottom: 10px;
}
.checkout {
  display: flex;
  padding: 20px;
  background-color: white;
  height: max-content;
}

.checkout__title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgrey;
}
